.about.page-container {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    border-color: aquamarine;
}
.about.page.flex-item-1 {
    font-size: 2rem;
    background-color: #d489cf;
    padding: 2rem;
}

.about.page.flex-item-2 {
    font-size: 2rem;
    background-color: #d489cf;
    padding: 2rem;
}

.about.page.flex-item-3 {
    font-size: 2rem;
    background-color: #d489cf;
    padding: 2rem;
}

.about.page.flex-item-4 {
    font-size: 2rem;
    background-color: #d489cf;
    padding: 2rem;
}

.about.page.flex-item-5 {
    font-size: 2rem;
    background-color: #d489cf;
    padding: 2rem;
}

.about.page.flex-item-6 {
    font-size: 2rem;
    background-color: #d489cf;
    padding: 2rem;
}
