/* tremp file for header css; will be added into main.css at the end */
/* html for header added to main.js for importing with */

#header-global {
    background-color: #0f3bb2;
    color: #ffffff;
    min-height: 5rem;
}

.header-navbar {
    /* controls spacing across entire header */
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    /* center horizontally and vertically */
}

.header-box-1, .header-box-2, .header-box-3  {
    min-width: 33%;
}

.header-main-text {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    /* title 'outpost' in header */
}

.header-logo-image {
    display: flex;
    max-width: 6rem; 
    margin: .5rem;}

.header-ul-nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
                
.header-li-nav-links {

}

.header-li-nav-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem; 
    /* top/bottom and left/right padding */
    display: inline-block;
}

/* media queries */

@media (max-width: 480px) {

}


@media (max-width: 768px) {

}


@media (max-width: 1024px) {

}


@media (max-width: 1280px) {

}


@media (min-width: 1281px) {

}