/* tremp file for header css; will be added into main.css at the end */
/* html for header added to main.js for importing with */

#header-global {
    background-color: #0f3bb2;
    color: #ffffff;
    min-height: 1rem;
    border-style: solid;
    border-color: yellow;
}

.header-main-text {
    font-size: 2rem;
    border-style: solid;
    border-color: aqua;
}

.header-navbar {     /* controls header-wide spacing */
    display: flex;
    align-items: center; 
    /*center vertically */
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: solid;
    border-color: pink;
}

.header-logo-image {
    max-width: 6rem; 
    border-style: solid;
    border-color: green;
    height: auto;
    object-fit: contain;
    /* allows content to grow or shrink based on content */
}

.header-ul-nav-links {
    display: flex;
    border-style: solid;
    border-color: tomato;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
                
.header-li-nav-links {
    padding: .5rem;
}

.header-li-nav-links a {
    text-decoration: none;
    color: #ffffff;
}