/* Universal CSS - References and Code */
 
/* References:
 
- normalize.css file will be included
- Colour values:
 
Blue: #0f3bb2;      (header background)
White: #FFFFFF;     (header text)
Red: #d65559;       (footer background)
Black: #000000;     (page background)
Orange: #e05215;    (for use throughout the page)
Green: #95d5a5;     (for use throughout the page) */
 
/* Code: */
 
/* Font family */
 
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: #E05215;
}
 
/* header - placeholder */
footer {
    background-color: #D65559;
    height: auto;
    color: black;
}
.footerNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footerImage {
    min-width: 20%;
}
.footerLogo {
    width: 125px;
    height: 175px;
    margin: 12px;             
}
.footerTitle {
    min-width: 30%;
}
.footButt {
    min-width: 30%;
    display: flex;
    align-items: center;
}
.footerButton {
    display: none;
    height: 40px;
    width: 120px;
    background-color:#95D5A5;
    font-weight: bold;
}
.footerPublish {
    min-width: 20%;
}
