.productNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teaser {
    text-align: center;
}
.teaser p {
    font-weight: bold;
    font-size: 25px;
    margin: 30px;
}
.teaser h2 {
    font-weight: bold;
    font-size: 50px;
    color: #95d5a5;
}
.teaser h6 {
    font-size: 25px;
    margin: 30px;
    font-weight: lighter;
}
.teaser h3 {
    font-size: 35px;
}
.redOutpostProduct {
    display: inline-flex;
    align-items: center;
}
.redProduct {
    width: 200px;
    height: 150px;
    border: .2rem solid #95d5a5;
}
.purchaseRed {
    margin: 20px;
    color: #E05215;
}
.norwegianProduct {
    display: inline-flex;
    align-items: center;
}
.purchaseNorwegian {
    margin: 20px;
    color: #E05215;
}
.footerOutpostPurchase {
    display: inline-flex;
    align-items: center;
}
.powerProduct {
    height: 200px;
    border: .2rem solid #95d5a5;
}
.powerGridOutpost {
    margin: 20px;
    color: #E05215;
}